<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>

<body>
    <div id="app">
        <v-app>
            <v-main>
                <v-container>
                    <!-- if not logged in show login page -->
                    <template v-if="!isLoggedIn">
                        
                        <template v-if="!isOnRegisterPage">
                            <v-layout row wrap>
                                <v-flex xs12>
                                    <v-card>
                                        <v-card-title>
                                            <span class="headline">Login</span>
                                        </v-card-title>
                                        <v-card-text>
                                            <v-form ref="form">
                                                <v-text-field v-model="username" label="Username" required></v-text-field>
                                                <v-text-field v-model="password" type="password" label="Password" required></v-text-field>
                                            </v-form>
                                        </v-card-text>
                                        <v-card-actions>
                                            <v-spacer></v-spacer>
                                            <v-btn color="primary" @click="login">Login</v-btn>
                                        </v-card-actions>
                                        <v-card-actions>
                                            <v-spacer></v-spacer>
                                            <a @click="isOnRegisterPage = true">Register</a>
                                        </v-card-actions>
                                    </v-card>
                                </v-flex>
                            </v-layout>
                        </template>
                        <template v-else>
                            <v-layout row wrap>
                                <v-flex xs12>
                                    <v-card>
                                        <v-card-title>
                                            <span class="headline">Register</span>
                                        </v-card-title>
                                        <v-card-text>
                                            <v-form ref="form">
                                                <v-text-field v-model="register_username" label="Username" required></v-text-field>
                                                <v-text-field v-model="register_password" type="password" label="Password" required></v-text-field>
                                            </v-form>
                                        </v-card-text>
                                        <v-card-actions>
                                            <v-spacer></v-spacer>
                                            <v-btn color="primary" @click="register">Register</v-btn>
                                        </v-card-actions>
                                        <!-- centered link -->
                                        <v-card-actions>
                                            <v-spacer></v-spacer>
                                            <a @click="isOnRegisterPage = false">Login</a>
                                        </v-card-actions>

                                    </v-card>
                                </v-flex>
                            </v-layout>
                            </template>
                    </template>
                    <template v-else>
                        <!-- logged is as  -->
                        <v-layout row wrap>
                            <v-flex xs12>
                                <v-card>
                                    <v-card-title>
                                        <span class="headline">Logged in as {{username}}</span>
                                    </v-card-title>
                                    <v-card-text>
                                        <v-btn color="primary" @click="logout">Logout</v-btn>
                                    </v-card-text>
                                </v-card>
                            </v-flex>
                    
                    <!-- vuetify stepper -->
                    <v-stepper v-model="step">
                        <v-stepper-header>
                            <!-- for every item, add step -->
                            <v-stepper-step v-for="(step, index) in items" :key="index" :step="index+1">
                                {{step.text}}
                            </v-stepper-step>
                        </v-stepper-header>

                        <v-stepper-items>
                            <!-- Select a Category, on select go to next step -->
                            <v-stepper-content step="1">
                                <v-card>
                                    <v-card-title>Select a Category</v-card-title>
                                    <v-card-text>
                                        <v-select v-model="category" :items="categories" label="Select a Category"
                                            item-text="name" item-value="Id"  outlined @change="getSubcategories">
                                        </v-select>
                                    </v-card-text>
                                    <v-card-actions>
                                        <v-btn color="primary" dark @click="step = 2" :disabled='category == null '>Next
                                        </v-btn>
                                    </v-card-actions>
                                </v-card>
                            </v-stepper-content>

                            <v-stepper-content step="2">
                                <v-card>
                                    <v-card-title>Select a Subcategory</v-card-title>
                                    <v-card-text>
                                        <!-- v-if category is not null -->
                                        <v-select v-model="subcategory" :items="subcategories"
                                            label="Select a Subcategory" outlined
                                            item-text="name"
                                            item-value="Id" @change="getSubcategoryAutoComplete">
                                        </v-select>

                                    </v-card-text>
                                    <v-card-actions>
                                        <v-btn color="primary" dark @click="step = 1">Back</v-btn>
                                        <v-btn color="primary" dark @click="step = 3" :disabled='subcategory == null '>
                                            Next</v-btn>
                                    </v-card-actions>
                                </v-card>
                            </v-stepper-content>

                            <!-- Fill item details -->

                            <v-stepper-content step="3">
                                <v-card>
                                    <v-card-title>Fill item details</v-card-title>
                                    <v-card-text>
                                        <!-- <v-text-field v-model="itemDetails.model" label="Item make or model" outlined></v-text-field> -->
                                        <!-- Select field with data from autocomplete -->
                                        <v-select v-model="itemDetails.model" :items="itemAutoComplete" label="Item make or model"
                                            outlined item-text="name" item-value="name">
                                            </v-select> 
                                        <!-- manufactured year input -->
                                        <v-text-field v-model="itemDetails.manufactureYear" label="Year of Manufacture" outlined></v-text-field>
                                        <!-- date bought input field -->
                                        <v-text-field v-model="itemDetails.dateBought" label="Date Bought" outlined></v-text-field>
                                        <!-- <v-text-field v-model="itemDetails.cost" label="Cost" outlined></v-text-field> -->
                                        <!-- item details cost decimal input -->
                                        <v-text-field v-model.number="itemDetails.cost" label="Cost" outlined type="number"></v-text-field>
                                    </v-card-text>
                                    <v-card-actions>
                                        <v-btn color="primary" dark @click="step = 2">Back</v-btn>
                                        <v-btn color="primary" dark @click="step = 4"
                                            :disabled='itemDetails.model == null || itemDetails.manufactureYear == null || itemDetails.dateBought == null || itemDetails.cost == null '>
                                            Next</v-btn>
                                    </v-card-actions>
                                </v-card>
                            </v-stepper-content>
                            <!-- Upload image -->
                            <v-stepper-content step="4">
                                <v-card>
                                    <v-card-title>Upload image</v-card-title>
                                    <v-card-text>
                                        <!-- file-input -->
                                        <v-file-input v-model="proofOfPurchase" label="Upload image" outlined>
                                    </v-card-text>
                                    <v-card-actions>
                                        <v-btn color="primary" dark @click="step = 3">Back</v-btn>
                                        <v-btn color="primary" dark @click="step = 5"
                                            :disabled='proofOfPurchase == null'>Next</v-btn>
                                    </v-card-actions>
                                </v-card>
                            </v-stepper-content>

                            <!-- yes or no, is this personal -->
                            <v-stepper-content step="5">
                                <v-card>
                                    <v-card-title>Is this for personal use?</v-card-title>
                                    <!-- Small sub heading -->
                                    <p class="subheading">Only items for personal use can be insured.</p>
                                    <v-card-text>
                                        <v-radio-group v-model="personal">

                                            <v-radio value="yes" label="Yes"></v-radio>
                                            <v-radio value="no" label="No"></v-radio>
                                        </v-radio-group>
                                    </v-card-text>
                                    <v-card-actions>

                                        <v-btn color="primary" dark @click="step = 4">Back</v-btn>
                                        <v-btn color="primary" dark @click="step = 6" :disabled='personal != "yes" '>
                                            Next</v-btn>
                                    </v-card-actions>
                                </v-card>
                            </v-stepper-content>

                            <!-- select address from list on top, and add new address at the bottom -->
                            <v-stepper-content step="6">
                                <v-card>
                                    <v-card-title>Select address</v-card-title>
                                    <v-card-text>
                                        <v-select v-model="selectedAddress" :items="addresses"
                                            :item-text="item => item.street + ', ' + item.city + ', ' + item.state + ', ' + item.country"
                                            :item-value="item => item" label="Select an address" outlined>
                                        </v-select>
                                    </v-card-text>
                                    <v-card-actions>
                                        <v-btn color="primary" dark @click="step = 5">Back</v-btn>
                                        <v-btn color="primary" dark @click="step = 7; addNewItem()"
                                            :disabled='selectedAddress == null '>Next</v-btn>
                                    </v-card-actions>
                                    <!-- Add new adderss -->
                                    <v-card-title>
                                        Add a new address
                                    </v-card-title>
                                    <v-card-text>
                                        <v-text-field v-model="newAddress.street" label="Street" outlined>
                                        </v-text-field>
                                        <v-text-field v-model="newAddress.city" label="City" outlined>
                                        </v-text-field>
                                        <v-text-field v-model="newAddress.state" label="State" outlined>
                                        </v-text-field>
                                        <v-text-field v-model="newAddress.country" label="Country" outlined>
                                        </v-text-field>
                                        <v-text-field v-model="newAddress.postalCode" label="Postal Code" outlined>
                                        </v-text-field>
                                    </v-card-text>
                                    <v-card-actions>
                                        <v-btn color="primary" dark @click="addNewAddress()"
                                            :disabled='newAddress.street == null || newAddress.city == null || newAddress.state == null || newAddress.country == null || newAddress.postalCode == null '>
                                            Add</v-btn>
                                        
                                </v-card>
                            </v-stepper-content>


                            <v-stepper-content step="7">
                                <v-card class="mx-auto">
                                    <!-- Message jumbotron, congrats, you can now have your item insured. Choose the right package for you below -->
                                    <v-card-title>
                                        <!-- alert width full page -->
                                        <v-alert :value="true" type="success" min-width="100%">
                                            Congratulations! You can now have your item insured. Choose the right
                                            package for you bellow.
                                        </v-alert>
                                    </v-card-title>
                                    <v-row>
                                        <!-- for every calculateInsurance -->
                                        <template v-for="(period, index) in packages">
                                            <v-col cols="12" sm="6" md="4">
                                                <v-card class="mx-auto my-3" max-width="300" hover
                                                    @click.stop="clickedPackage(index)" :key="index" :color="index == selectedPackage ? 'green accent-2' : 'white'" v-model="selectedPackage">
                                                    <v-card-title>
                                                        <div>
                                                            <span class="headline">{{period.header}}</span>
                                                        </div>
                                                    </v-card-title>
                                                    <v-card-text>
                                                        ${{ period.cost }} / {{period.per}}
                                                    </v-card-text>
                                                    <v-card-actions>
                                                        <!-- subheading -->
                                                        <v-subheader>{{period.subtext}}</v-subheader>
                                                    </v-card-actions>
                                                </v-card>
                                            </v-col>
                                        </template>
                                    </v-row>
                                    <!-- next button -->
                                    <v-card-actions>
                                        <v-btn color="primary" dark @click="step = 6">Back</v-btn>
                                        <v-btn color="primary" dark :disabled='selectedPackage == null '>Next</v-btn>
                                    </v-card-actions>
                                    
                                </v-card>

                            </v-stepper-content>

                            </template>
                        </v-stepper>


                </v-container>
            </v-main>
        </v-app>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script>
        const BASE_URL = "https://api.fl0.com/butter/dev/butterinsurancetest/flows";
        
        new Vue({
            el: '#app',
            vuetify: new Vuetify(),
            mounted() {
                this.getCategories()
            },
            data: {
                step: 1,
                isLoggedIn: false,
                loginHeader: null,
                username: null,
                password: null,
                isOnRegisterPage: false,
                register_username: null,
                register_password: null,
                category: null,
                subcategory: null,
                items: [{
                    text: 'Category',
                    disabled: false
                },
                {
                    text: 'Sub-Category',
                    disabled: false
                },
                {
                    text: 'Item Details',
                    disabled: false
                },
                {
                    text: 'Proof of Purchase',
                    disabled: false
                },
                {
                    text: 'Personal?',
                    disabled: false
                },
                {
                    text: 'Address',
                    disabled: false
                },
                {
                    text: 'Complete',
                    disabled: false
                }
                ],
                categories: [],
                itemDetails: {},
                itemId: null,
                proofOfPurchase: null,
                personal: null,
                selectedAddress: null,
                addresses: [],
                cities: [
                ],
                newAddress: {},
                coverage: 1.7,
                complete: null,
                selectedPackage: null,
                subcategories: [],
                packages: [],
                itemAutoComplete: [],
            },
            computed: {
                // calculateInsurance: function () {
                    
                //     let initialPrice = this.itemDetails.cost;
                //     // for every 100 above 100, add 2.5
                //     let hundreds = Math.floor((initialPrice - 100) / 100);
                //     // total multiplied by coverage and then cities percentage
                //     console.log(this.selectedAddress);
                //     if(this.selectedAddress==null){
                //         return [];
                //     }
                //     let target_city = this.selectedAddress.city;
                //     let cityPercentage = this.cities.filter(function (city) {
                //         return city.name == target_city;
                //     })
                //     if (cityPercentage.length < 0) {
                //         return [];
                //     }
                    
                //     let basePrice = this.subcategory.basePrice;
                //     console.log(basePrice, hundreds, this.coverage, cityPercentage[0].percentage);
                //     let total = (basePrice + (hundreds * 2.5)) * this.coverage * cityPercentage[0].percentage
                //     // return total yearly, monthly and weekly
                //     console.log(total);
                //     return 
                // },
            },
            methods: {
                login: function () {
                    this.loginHeader = "Basic " + btoa(this.username + ":" + this.password);
                    axios.defaults.headers.common['Authorization'] = this.loginHeader;
                    axios.get(BASE_URL + "/get-categories").then(response => {
                        this.isLoggedIn = true;
                        this.password = null;
                        axios.get(BASE_URL + "/get-addresses").then(response => {
                            this.addresses = response.data;
                            console.log("Addresses", this.addresses);
                        });
                        axios.get(BASE_URL + "/get-items").then(response => {
                            if (response.data.length > 0) {
                                // get default address
                                this.itemDetails = response.data[0];
                                this.itemId = response.data[0].Id;
                                this.selectedAddress = this.addresses[0];
                                this.step = 7;
                                this.getCalculatedResult()
                            } else {
                                this.getCategories();
                            }
                        }).catch(error => {
                            this.getCategories();
                        });
                    }).catch(error => {
                        this.isLoggedIn = false;
                        this.loginHeader = null;
                        this.username = null;
                        this.password = null;
                    });
                },
                logout: function () {
                    this.isLoggedIn = false;
                    this.loginHeader = null;
                },
                register: function () {
                    this.loginHeader = "Basic " + btoa(this.register_username + ":" + this.register_password);
                    axios.defaults.headers.common['Authorization'] = this.loginHeader;
                    axios.post(BASE_URL + "/register-user", {
                        username: this.register_username,
                        password: this.register_password
                    }).then(response => {
                        this.isLoggedIn = true;
                        this.register_password = null;
                        this.username = this.register_username;
                        this.getCategories();
                    }).catch(error => {
                        this.isLoggedIn = false;
                        this.loginHeader = null;
                        this.register_password = null;
                        this.register_username = null;
                    });
                },
                clickedPackage: function (item) {
                    this.selectedPackage = item
                },
                getCategories: function () {
                    // get categories from api
                    
                    axios.get(BASE_URL + "/get-categories").then(response => {
                        this.categories = response.data;
                        console.log("categories", this.categories);
                    }).catch(error => {
                        // check if 401
                        if(error.response && error.response.status == 401){
                            this.isLoggedIn = false;
                            this.loginHeader = null;
                        }
                    });
                },
                getSubcategories: function () {
                    // get subcategories from api
                    axios.get(BASE_URL + "/get-subcategories?categoryId=" + this.category).then(response => {
                        this.subcategories = response.data;
                        console.log("Subcategories", response.data);
                    })
                },
                getSubcategoryAutoComplete: function () {
                    // get subcategories autocomplete data from api
                    axios.get(BASE_URL + "/get-item-autocomplete?subCategoryId=" + this.subcategory).then(response => {
                        this.itemAutoComplete = response.data;
                        console.log("Subcategory AutoComplete", response.data);
                    }).catch(error => {
                        // check if 401
                        if(error.response && error.response.status == 401){
                            this.isLoggedIn = false;
                            this.loginHeader = null;
                        }
                    });
                },
                addNewItem(){
                    // create a new item, with the selected subcategory and address
                    axios.post(BASE_URL + "/create-item", {
                        model: this.itemDetails.model,
                        manufactureYear: this.itemDetails.manufactureYear,
                        dateBought: this.itemDetails.dateBought,
                        cost: parseFloat(this.itemDetails.cost),
                        subCategoryId: this.subcategory,
                        addressId: this.selectedAddress.Id
                    }).then(response => {
                        this.itemDetails = response.data;
                        this.itemId = response.data.Id;
                        console.log("GOTTEN HERE");
                        this.getCalculatedResult()
                        this.step = 7;
                    }).catch(error => {
                        // check if 401
                        if(error.response && error.response.status == 401){
                            this.isLoggedIn = false;
                            this.loginHeader = null;
                        }
                    });
                },
                postItemDetails: function () {
                    // post item details to api
                    axios.post(BASE_URL + "/create-item", {
                        "model": this.itemDetails.model,
                        "manufactureYear": this.itemDetails.manufactureYear,
                        "dateBought": this.itemDetails.dateBought,
                        "cost": parseFloat(this.itemDetails.cost),
                        "subCategoryId": this.subcategory,
                    }).then(response => {
                        this.itemId = response.data.Id;
                    }).catch(error => {
                        // check if 401
                        if(error.response && error.response.status == 401){
                            this.isLoggedIn = false;
                            this.loginHeader = null;
                        }
                    });
                },
                uploadImage: function () {
                    // upload image to api
                    const options = {
                        method: 'PUT',
                        url: 'https://api.fl0.com/butter/dev/butterinsurancetest/flows/upload-proof-reciept',
                        params: { itemId: this.itemId },
                        headers: { 'Content-Type': 'image/jpeg' },
                        data: this.proofOfPurchase
                    };

                    axios.request(options).then(function (response) {
                        console.log(response.data);
                    }).catch(function (error) {
                        if (error.response && error.response.status == 401) {
                            this.isLoggedIn = false;
                            this.loginHeader = null;
                        }
                    });
                },
                addNewAddress: function () {
                    // add new address to api
                    axios.post(BASE_URL + "/create-address", {
                        "country": this.newAddress.country,
                        "city": this.newAddress.city,
                        "state": this.newAddress.state,
                        "postal": this.newAddress.postalCode,
                        "street": this.newAddress.street,
                    }).then(response => {
                        this.addresses.push(response.data);
                        this.newAddress = {};
                    }).catch(error => {
                        // check if 401
                        if(error.response && error.response.status == 401){
                            this.isLoggedIn = false;
                            this.loginHeader = null;
                        }
                    });
                },
                getCalculatedResult: function() {

                    axios.post(BASE_URL + "/calculate", {
                        "itemId": this.itemId,
                    }).then(response => {
                        let total = parseFloat(response.data.total);
                        this.packages = [
                            {
                                header: "Yearly",
                                cost: (total).toFixed(2),
                                per: "Year",
                                subtext: "To be paid in 1 year installments",
                            },
                            {
                                header: "Monthly",
                                cost: (total/12).toFixed(2),
                                per: "Month",
                                subtext: "To be paid in 12 month installments",
                            },
                            {
                                header: "Weekly",
                                cost: (total/52).toFixed(2),
                                per: "Week",
                                subtext: "To be paid in 52 week installments",
                            }
                        ];
                    }).catch(error => {
                        // check if 401
                        if(error.response && error.response.status == 401){
                            this.isLoggedIn = false;
                            this.loginHeader = null;
                        }
                    });
                }
            }
        })
    </script>
    <style>
        .subheading {
            font-size: 0.6rem;
            color: #9e9e9e;
        }
    </style>
</body>

</html>
